services:
  nginx:
    image: nginx:reda
    container_name: nginx
    networks:
      - inception
    depends_on:
      - wordpress
    build: ./requirements/nginx
    env_file: .env
    volumes:
      - wordpress:/var/www/html
    restart: always
    ports:
      - "8443:443"
      - "8080:8080"

  mariadb:
    image: mariadb:reda
    container_name: mariadb
    networks:
      - inception
    build: ./requirements/mariadb
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    restart: always

  wordpress:
    depends_on:
      - mariadb
    image: wordpress:reda
    container_name: wordpress
    networks:
      - inception
    build: ./requirements/wordpress
    env_file: .env
    volumes:
      - wordpress:/var/www/html
    restart: always

  phpmyadmin:
    depends_on:
      - mariadb
    image: phpmyadmin:reda
    container_name: phpmyadmin
    networks:
      - inception
    build: ./requirements/phpmyadmin
    env_file: .env
    volumes:
      - phpmyadmin:/var/www/html
    restart: always

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: 'bind'
      device: '/home/rennacir/data/wordpress'
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rennacir/data/mariadb
  phpmyadmin:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rennacir/data/phpmyadmin

networks:
  inception:
    driver: bridge